table, th,tr{
  border: solid 2px;
}
thead{
  background-color: violet;
}
.Tvenkinys{
  display: flex;
  gap: 50px;
}
.Jura{
  display: flex;
  gap: 50px;
}
#fouth4{
  background-color: red;
}
#fouth_second2{
  background-color: red;
}
#fouth_Third3{
  background-color: red;
}
.Vandenynas{
  display: flex;
}